<app-navbar></app-navbar>
<div  class="d-inline-block full-height border-right background-color">
  <div>
    <button routerLink='/laptops'  type="button"
             class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Ноутбуки</button>
  </div>
  <div>
    <button routerLink='/phones' type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Телефони</button>
  </div>
  <div>
    <button routerLink='/tvs' type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Телевізори</button>
  </div>
  <div>
    <button routerLink='/tablets' type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start" >Планшети</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Ігрові приставки</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Аудіотехніка</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Зарядні станції</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success border-0 fs-5 border-radius w-100 text-start">Смарт годинники</button>
  </div>
</div>

