
.border-right {
  border-right: 3px solid #dee2e6;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.full-height {
  height: 100vh;
}
.background-color {
  background-color: #d1c9c9;
}

.border-radius {
  border-radius: 0;
}
